body {
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  margin: 30px;
  background-color: #ececec;
}

p {
  font-size: 12px;
  color: #d71b1b;
}

#logo-container {
width: 100%;
margin-left: 60%;
}

#main-container {
  width: 100%;
}

/* Alert Container */
#alert-container {
position: relative;
text-align: center;
width: 400px;
margin-right: -800px;
padding: 40px;

}


/*Score Card */
.col-3 {
  background-color: #22313f;
  color: white;
  padding: 20px 30px 20px 20px;
 border: 3px solid #d71b1b;
  margin-top: -100px;
}


/* Hold Button */
.btn-dark {
  background-color: #22313f;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  color: white;
}


/*Points Calculator */
#points-btn {
  background-color: #22313f;
  margin: -150px 20px 30px 20px;
  border: 3px solid #d71b1b;
}


/* Main Dice Section */
.col-sm
#first-die-slot,
#second-die-slot,
#third-die-slot,
#fourth-die-slot,
#fifth-die-slot {
  padding: 125px 20px 30px 0px;
  display: inline-block;
}

/* Mark Scoreboard */
#mark-scoreboard-btn{
  background-color: #6c7a89;
  font-size: 18px;
  margin-top: -200px;
  margin-right: 80px;
  float: right;
 border: 3px solid #22313f;;
}

#roll-dice-btn {
padding: 25px 25px 25px 25px;
margin-top: -680px;
margin-left: 300px;
float: none;
border: 3px solid #22313f;
}



/* Disabled Form Box */
.form-control {
  float: right;
  font-size: 12px;
  text-align: center;
  width: 30%;
  height: 16px;
  display: block;
  margin-top: -5px;
  padding: 5px;
}


/* Sidebar Category Text */
.form-group {
  font-size: 14px;
  line-height: 0.25;
  padding: 0px;
}
